@charset "utf-8";
@import url("style.css");
body,button,input,select,textarea{font:12px/1.5 'lucida grande', 'lucida sans unicode', lucida, helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;}
sub,sup{line-height:0;}
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
li{list-style:none;vertical-align:middle;}
fieldset,img{border:0;vertical-align:middle;}
input,select,textarea,button{outline-style:none;vertical-align:middle;}
textarea{resize:none} 
address,caption,cite,code,dfn,em,i,th,var{font-style:normal;font-weight:normal;}
a{text-decoration:none;outline:none;}
a:hover{text-decoration:underline}
.clearfix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{zoom:1;}
.clear{clear:both;height:0;font-size:0;overflow:hidden;}
img{width:100%;max-width:100%;}
.b1{cursor: pointer;}
html,body{height:100%}
.wrap{height:400%}
